.footer {
    border-top: 1px solid #424242;
    background-image: url('../img/footer.png');
    background-repeat: no-repeat !important;
    background-size: cover;
    min-height: 209px;
    position: relative;

    section {
        height: 100%;
    }
}

.footer-l {
    display: flex;
}

.footer-logo {
    margin-top: -18px;
    margin-bottom: -4px !important;
}

.l-col {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

footer {
    padding: 65px 0 50px;
    height: 100%;
    display: flex;
    justify-content: space-between;

    a {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.7);
    }
    a:hover, a:focus {
        color: #8B3B63;
    }

    .social {
        display: flex;
        margin-top: -10px;
        a:first-child {
            margin-right: 20px;
        }
    }


}

.phone-footer {
    position: absolute;
    right: 44px;
    bottom: 54px;
    width: 73px;
    height: 73px;

    i {
        display: inline-block;
        background-image: url('../img/whatsapp.png');
        background-size: 73px;
        width: 73px;
        height: 73px;
    }
}

.footer-logo img {
    width: 100px;
}

.l-col *:first-child{
    margin-bottom: 32px;
}

footer .numbers .social-numbers > a:first-child {
    display: flex;
    margin-bottom: 30px;
}
footer .numbers .social-numbers i {
    background-size: 22px !important;
    width: 22px !important;
    height: 22px !important;
}

footer .numbers .social-numbers a {
    font-size: 14px !important;
}

@media screen and (max-width: 900px) {
    .footer { background-image: url('../img/footer-m.png'); position: relative; }
    footer { flex-direction: column-reverse; }
    footer .social-numbers { margin-left: 0 !important; }
    .footer-l { flex-direction: column; margin-top: 100px; }
    .l-col *:first-child, .l-col > * { margin-bottom: 36px; }
    .footer-logo { position: absolute; top: 37px; }
    .footer-r { margin-top: 20px; }
    .l-col:first-child > p { position: absolute; bottom: 5px; }
    footer .social { position: absolute; top: 200px; }
    .phone-footer { display: none; }
}