.page_404 {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/404.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h2 {
        font-size: 48px;
        padding-right: 26vw;
        margin: 46px 0 58px;
    }

    p {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.78);

        a {
            color: rgba(255, 255, 255, 0.78);
            text-decoration: underline;
        }
    }

    .info_404 {
        position: absolute;
        top: 20vh;
        left: 40vw;
    }

    h3 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 116.982px;
        line-height: 151px;
        color: #FFFFFF;
        position: absolute;
        display: block;
        top: 330px;
        left: 340px;
    }

    .duim {
        content: '';
        background-image: url('../img/свечение\ кальян\ 1.png');
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        background-size: contain;
        will-change: opacity;
        transform: translateZ(0);
        mix-blend-mode: lighten;
        background-blend-mode: lighten;
        width: 898px;
        height: 546px;
    }
}

.logo-404 img {
    width: 118px;
}

@media screen and (max-width: 900px) {
    .page_404 { align-items: baseline; padding-top: 5px;}
    .page_404 h2 {font-size: 30px; line-height: 52px; margin: 60px 0 0 0;padding-right: 0;}
    .page_404 h3 {font-size: 60px; margin-left: -60px; left: 50%;}
    .page_404 h3::before {top: -129px; left: -192px; width: 462px; height: 280px; background-size: 462px 280px;}
    .page_404 p {font-size: 16px; position: absolute; bottom: 10px;}
    .page_404 .info_404 {position: relative;top:-37vh;left:0;}
    .page_404 .duim {left: -243px; top: -20px;}
}