h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.contact-form-wrapper {
    padding-top: 20vh;
}

.first-slide {
    padding-top: 20vh;
}

.wrapper-portfolio {
    display: flex;
    flex-wrap: wrap;

}

.elem-portfolio {
    width: 50%;
    height: 317px;
    display: flex;

    .elem-portfolio-img {
        position: relative;
        width: 50%;
        height: 100%;
        z-index: 1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .elem-portfolio-company {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        z-index: 2;

        img {
            width: 60%;
        }
    }

    .elem-portfolio-company::after {
        content: '';
        background-image: url('../img/Polygon\ 5.png');
        background-size: 24px 87px;
        width: 0px;
        height: 0px;
        display: inline-block;
        position: absolute;
        right: -24px;
        border-top: 44px solid transparent;
        border-left: 24px solid #FFFFFF;
        border-bottom: 44px solid transparent;

    }
}

.elem-portfolio:nth-child(n) {
    flex-direction: row;
}

.elem-portfolio:nth-child(4n),  .elem-portfolio:nth-child(4n-1){
    flex-direction: row-reverse;
    .elem-portfolio-company::after {
        right: auto;
        left: -24px;
        transform: rotate(180deg);
    }
}

.btn-center {
    display: flex;
    justify-content: center;
    padding: 56px 0 180px;
}

.btn {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 39px;
    background: #8B3B63;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .elem-portfolio { height: 162px;}
}

@media screen and (max-width: 500px) {
    .elem-portfolio .elem-portfolio-company::after {
        background-size: 12px 44px;
        border-top: 22px solid transparent;
        border-left: 12px solid #FFFFFF;
        border-bottom: 22px solid transparent;

    }
    
    .elem-portfolio { width: 100%;}
    .elem-portfolio:nth-child(odd) {
        flex-direction: row !important;
        .elem-portfolio-company::after {
            content: '';
            right: -12px !important;
            left: auto !important;
            transform: rotate(0deg);
        }
    }
    
    .elem-portfolio:nth-child(even) {
        flex-direction: row-reverse !important;
        .elem-portfolio-company::after {
            right: auto !important;
            left: -12px !important;
            transform: rotate(180deg) !important;
        }
    }
}