@import './header.scss';
@import './footer.scss';
@import './portfolio.scss';
@import './contact-form.scss';
@import './instagram.scss';
@import './page404.scss';

.first-slide--service {
    padding-top: 20vh;
    height: 93vh;
    position: relative;

    h2 {
        font-size: 48px;
        z-index: 4;
        position: relative;

    }

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.78);
        margin: 26px 0 44px;
        z-index: 4;
        position: relative;
    }

    .btn {
        padding: 18px 52px;
        position: relative;
        z-index: 4;
    }
}

.hookah {
    position: absolute;
    top: 19vh;
    right: 10vw;

    .hookah-img {
        width: 368px;
    }

    .kumar {
        position: absolute;
        top: -93px;
        left: -196px;
        will-change: opacity;
        transform: translateZ(0);
        mix-blend-mode: lighten;
    }
}

.contact-phone--service {
    top: auto !important;
    left: auto;
    bottom: 63px;
    right: 0 !important;
}

.include-elem {
    width: 100%;
    height: 228px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-color: #070707;

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.8);
    }

    img.fon {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        mix-blend-mode: lighten;
        opacity: 0.8;
        z-index: 2;
    }

    .table {
        position: absolute;
        right: 60px;
        width: 161px;
        top: 30px;
    }
}

.include-l, .include-r {
    width: 49%;
}

.dahooker {
    position: absolute;
    width: 379px;
    z-index: 4;
    bottom: 0;
    left: 20px;
}

.include-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;

    .include-l > .include-elem:first-child,
    .include-r > .include-elem:first-child {
        margin-bottom: 25px;
        justify-content: flex-end;
    }

    .include-l > .include-elem:first-child p {
        width: 161px;
    }

    .include-r > .include-elem:first-child p {
        width: 182px;
    }

    .include-l > .include-elem:last-child p {
        width: 225px;
    }

    .include-r > .include-elem:last-child p {
        width: 233px;
    }
}

.fon-center {
    height: 100%;
    width: 274px;
    object-fit: cover;
}

.form-order {
    background: #121212;
    border-radius: 5px;
    padding: 53px 49px;
    margin-bottom: 100px;

    .line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        label {
            width: 222px;
            position: relative;
        }

        input, select, option {
            border: 1px solid rgba($color: #E6E6E6, $alpha: .2);
            border-radius: 5px;
            background-color: inherit;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #E6E6E6;
            opacity: 0.4;
            padding: 11px 15px;
            width: 100%;
            transition: .3s;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;
        }

        &:first-child > label:first-child:before,
        &:first-child > label:nth-child(2)::before {
            content: url('../img/arrowselect.png');
            display: block;
            position: absolute;
            bottom: 13px;
            right: 15px;
        }

        option {background-color: #121212;}

        input:hover {
            border: 1px solid rgba($color: #E6E6E6, $alpha: .8);
        }
    }
}
.input-buffer, .input-buffer1{
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
}
#shishas, #hours {
    display: flex;
    & > * {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        margin-right: 5px;
    }

    & > input {
        width: 36px;
        display: inline-block;
        min-width: 36px;
    }

    a:first-child::before {
        content: url('../img/Vector\ 18.png');
        position: relative;
        display: inline-block;
        height: 2px;
        top: -12px
    }

    a:last-child::before {
        content: url('../img/Group\ 51.png');
        position: relative;
        display: inline-block;
        height: 2px;
        top: -6px
    }

    a {
        background: #8B3B63;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.form-order label span {
    display: block;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #E6E6E6;
    margin-bottom: 6px;
}

@media screen and (max-width: 1000px) {
    .hookah {right: 4vh;}
    .first-slide--service h2 {font-size: 36px; max-width: 53vw;}
    .first-slide--service p {font-size: 18px; margin: 20px 0 36px;}
    .include-elem {height: 208px; padding: 0 20px;}

    .include-elem p {font-size: 16px;}
    .include-wrapper .include-l > .include-elem:first-child p {
        width: 116px;
    }
    .include-wrapper .include-l > .include-elem:last-child p {
        width: 153px;
    }
    .include-wrapper .include-r > .include-elem:first-child p {
        width: 129px;
    }
    .include-wrapper .include-r > .include-elem:last-child p {
        width: 164px;
    }
    .include-elem .table {
        width: 84px;
        right: 30px;
    }
    .dahooker {
        width: 240px;
    }
}


@media screen and (max-width: 650px) {
    .hookah .hookah-img {width: 306px;}
    .hookah .kumar {top: -127px; left: -222px;}
    .hookah {top: 36vh; right: -14vh;}
    .include-l, .include-r {width: 100%;}
    .include-wrapper {justify-content: center;}
    .include-wrapper .include-l > .include-elem:last-child {margin-bottom: 25px;}
    .include-elem {height: 119px;}
    .include-elem .table {top: 17px;}
    .dahooker {width: 188px;}
    .include-wrapper {margin-bottom: 60px;}
}